.testi-cont {
  padding: 50px;
  background-color: antiquewhite;
}
.testi-info {
  text-align: center;
}

.info-text {
  font-size: 20px;
  text-indent: 50px;
}
.row-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner {
  margin-left: 200px;
}
.banner img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.coma i {
  font-size: 30px;
}
@media (min-width: 305px) and (max-width: 660px) {
  .testi-cont {
    padding: 4px;
  }
  .row-cont {
    display: block;
  }
  .banner {
    margin-left: 0;
    text-align: center;
  }
  .banner img {
    width: 100%;
    border-radius: 4px;
    height: auto;
  }
  .testi-info {
    margin-bottom: 17px;
    display: inline-block;
  }
  .info-text {
    text-indent: 0px;
    display: inline-block;
    margin-bottom: 10px;
  }
}
